div#user_search_result {
    max-height: 150px;
    overflow: scroll;
    div.user__index__result {
        border-bottom: solid 1px #ced4da;
        &:last-child {
            border: none;
        }
    }
}

div#added_user {
    max-height: 150px;
    overflow: scroll;
    label.group__user__name {
        border-bottom: solid 1px #ced4da;
        display: block;
        &:last-child {
            border: none;
        }
    }
}

button.user-remove, button.user-add {
    width: 1.5rem;
    height: 1.5rem;
}
