.main-chat {
    width: calc(100vw - 300px);
    height: 100%;
    background-color: #fff;
    &__header {
        height: 100px;
        padding: 0 40px;
        display: flex;
        border-bottom: solid 1px #eee;
        align-items: center;
        justify-content: space-between;
        .summary {
            margin-top: 40px;
            &__group {
                color: #333;
                font-size: 20px;
            }
            &__member {
                margin-top: 15px;
                display: flex;
                color: #999;
                font-size: 12px;
                li {
                    margin-left: 3px;
                }
            }
        }
        .rbtn {
            width: 72px;
            height: 40px;
            text-decoration: none;
            &__edit {
                color: #38aef0;
                font-size: 16px;
                text-align: center;
                line-height: 40px;
                border: solid 1px #38aef0;
            }
        }
    }
    &__body {
        height: calc(100vh - 190px);
        background-color: #fafafa;
        .message-list {
            padding: 40px;
            .message {
                margin-bottom: 40px;
                &__header {
                    height: 20px;
                    margin-bottom: 10px;
                    display: flex;
                    line-height: 20px;
                    &__user-name {
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    &__sending-time {
                        margin-left: 5px;
                        color: #999;
                        font-size: 12px;
                    }
                }
                &__body {
                    width: 99%;
                    margin: 0 0 0 auto;
                //     pre {}
                }
            }
        }
    }
    &__form {
        height: 90px;
        padding: 20px 40px;
        font-size: 18px;
        background-color: #d2d2d2;
        .message-form {
            display: flex;
            .input-box {
                width: 100%;
                position: relative;
                label {
                    font-size: 1.3rem;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
            }
            &__text {
                width: 100%;
                height: 50px;
                padding: 0 10px;
                color: #434a54;
                border-style: none;
            }
            &__image {
                display: none;
            }
            &__submit {
                width: 100px;
                height: 50px;
                padding: 0 30px;
                margin-left: 15px;
                color: #fff;
                background-color: #38AEF0;
            }
        }
    }
}
