.side-bar {
    width: 300px;
    height: 100%;
    background-color: #253141;
    &__header {
        height: 100px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        .user-info {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            &__name {
                height: 20px;
                line-height: 20px;
            }
            &__menu {
                height: 20px;
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                li {
                    margin-left: 5px;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    &__body {
        height: calc(100vh - 100px);
        padding: 20px 20px 0;
        background-color: #2f3e51;
        .group {
            margin-bottom: 40px;
            color: #fff;
            &__name {
                font-size: 15px;
            }
            &__message {
                margin-top: 5px;
                font-size: 11px;
            }
        }
    }
}
